# Environment
.env

# Runtime data
data/
/tmp/
logs/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Kate
.kateproject
.kateproject.d/
*.kate-swp